<!DOCTYPE html>
<html lang="en" layout:decorate="~{/main-layout/mainLayout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Dodaj użytkownika</title>
</head>
<body>

<section layout:fragment="custom-content">
    <div class="container">
        <h2>Dodaj użytkownika</h2>

        <form th:action="@{/users/save}" th:object="${person}" method="post">

            <label for="name">Nazwa</label>
            <input type="text"
                    class="form-control"
                    id="name"
                    th:field="*{name}">

            <label for="password">Hasło</label>
            <input type="text"
                    class="form-control" 
                    id="password"
                    th:field="*{password}">

            <button type="submit" class="btn btn-primary">Zapisz</button>
        </form>

    </div>
</section>

</body>
</html>